.datepicker {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  
  input {
    font-size: 30px;
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  
  }

  input:first-of-type {
    border-left: 1px solid #ddd;
        
  }

  input:last-of-type {
    border-right: 1px solid #ddd;
    transform: translateX(-4px);
  }

  ::-webkit-calendar-picker-indicator { display: none; }
}

.table1 {
  width: 25rem;
  margin: 40px 0;
  border-collapse: separate;

  td, th {
    color: $general-font-color;
    text-align: left;
    font-size: 2rem;
    
  }
  
  th {
    border-bottom: 1px solid #ddd;
    text-align: right;
    color: #111;
  }
}
  
.legend {
  display: flex;
  justify-content: center;
  
  a {
    font-size: 30px;
    text-decoration: none;
    margin: 50px;
    padding: 10px;
    background-color: #f2f2f2;
      
  }

  i {
    font-size: 0px;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    border: 1px solid  #3385ff;
    border-radius: 50%;
    padding: 10px;
    margin-right: 15px;
    background-color: #3385ff;
  
  }
  
  a:last-of-type {
    background-color: $sidebar-menu;
  
    i {
      border-color: #47d147;
      background-color: #47d147;
    }
  }
  
  a:nth-child(2) > i{
    border-color: #e6b800;
    background-color: #e6b800;
  }
    
}
  
.legendTitle {
  border: none;
  margin-top: 30px;
}

.scroll-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.scroll-wrapper table {
  width: auto;
  max-width: auto;
}

.scroll-wrapper img {
  width: auto;
  max-width: auto;
}

@media only screen and (max-width: 640px) {
  .scroll-wrapper img {
    width: 90%;
    max-width: auto;
  }

  .datepicker form{
    display: inline-block;
    padding: 10px;
    padding-right: 20px;
  
    input {
      font-size: 18px;
      display: inline-block;
      padding-left: 0;
      margin-left: 0;
      width: 35%;
    }

    #icon {
      width: 55%;
    }
  }

  img {
    width: auto;
  }

  .table1 {
    
    transform: translateX(15px);
  }

  .legend {
    display: block;
    text-align: center;

    i {
      padding: 5px;
    }

    a {
      display: block;
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 2000px) {
  .table1 {
    display: inline-block;
    width: auto;

    th {
      border: none;
    }

    td, th {
      display: inline-block;
      font-size: 20px;
    }
  } 
}

@media only screen and (max-width: 840px) {
  .datepicker a {
    display: flex;
    margin: 10px;
    justify-content: center;
    width: 20px;
    transform: translateX(90px);
  }
}