.topbar {
  background-color: $sidebar-menu;
  height: 50px;
  text-align: right;
  margin-right: 10px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: calc(100% - 215px);
  
  
  ul {
    list-style-type: none;
    margin: 0;
  
          
  
    li {
      float: right;
      border-right: 1px solid #bbb;
      border-left: 2px solid #bbb;
      text-decoration: none;
      
  
  
      a {
        display: block;
        color: $general-font-color;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        font-size: 20px;
        ;
      }
  
      i {
        padding: 0 10px;
      }
    }
  }

  a:hover {
    transition: 1s;
    background-color: #ccd9ff;
    
  }
}

